body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
}

.stat-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: green;
}

.table th,
.table td {
    vertical-align: middle;
}

.table {
    margin-bottom: 0;
}

h5 {
    margin-bottom: 10px;
}

#progress {
    color: blue;
    display: none;
    font-style: italic;
}

#error-message {
    color: red;
    display: none;
}

.highlight-box {
    background-color: #f8f9fa;
    border: 2px solid #ffc107;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
